.black-banner {
  background-color: #212935;
  color: #F7FFFF;
  width: 100%;
  height: 80px;
  margin-bottom: 37px;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}