@import '../foundation/colors.scss';

.request-demo {
  background-color: $beige-2;
  // height: 660px;
  padding: 100px 0 140px 0; 

  .copy-wrapper {
    width: 80%;
    margin: 0 auto;

    h2 {
      margin: 0;
    }
    .get-in-touch {
      margin-top: 55px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}